version: "2"
services:
  api:
    build: .
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      - PORT=:8080
      - DATABASE_URL=host=db user=postgres password=secret dbname=pismo port=5432 sslmode=disable
      - TEST_DATABASE_URL=host=db user=postgres password=secret dbname=pismo port=5432 sslmode=disable search_path=pg_temp
    depends_on:
      - db
    links:
      - db
  db:
    image: postgres:13.2
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: pismo
