version: "2"
services:
  api:
    build: .
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      - PORT=:8080
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=secret
      - DATABASE_DBNAME=pismo
    depends_on:
      - db
    links:
      - db
  db:
    image: postgres:13.2
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: pismo
